Repository hashicorp/terraform-plugin-sdk, pull requests merged in 2020-09, with the labels that each got.

#570 Fix import when reattach testing in v1.
  helper/resource/testing_new_import_state.go
Labels: bug, port-to-v1, project/binary-testing, testing

#569 Backport reattach exec fix.
  go.mod
  go.sum
  helper/resource/plugin.go
Labels: bug, port-to-v1, project/binary-testing, testing

#576 Fix spurious diff from timeouts.
  helper/resource/testing_new_import_state.go
Labels: bug, project/binary-testing, testing

#582 Add v2 Upgrade Guide and Learn docs to the README
  README.md
Labels: documentation

#581 Check the error on post-test destroy.
  helper/resource/testing_new.go
Labels: bug, port-to-v1, project/binary-testing, testing

#580 Restore pre-binary testing ExpectNonEmptyPlan behavior.
  helper/resource/testing_new_config.go
Labels: bug, port-to-v1, project/binary-testing, testing

#579 Backport #576: fix importstateverify + timeouts.
  helper/resource/testing_new_import_state.go
Labels: bug, project/binary-testing, testing

#590 Backport remaining fixes from v2.0.3.
  go.mod
  go.sum
  helper/resource/testing_new.go
  helper/resource/testing_new_config.go
Labels: bug, testing

#594 helper/resource: Remove data source exclusion from ExpectNonEmptyPlan handling
  helper/resource/testing_new.go
Labels: bug
