Repository hashicorp/terraform-plugin-sdk, pull requests merged in 2022-10, with the labels that each got.

#1062 Compile `isValidFieldName` regex once
  helper/schema/schema.go
Labels: technical-debt

#1070 Adding RefreshState test step
  .changelog/1070.txt
  helper/resource/testing.go
  helper/resource/testing_new.go
  helper/resource/testing_new_refresh_state.go
  helper/resource/teststep_providers_test.go
  helper/resource/teststep_validate.go
  helper/resource/teststep_validate_test.go
  website/docs/plugin/sdkv2/testing/acceptance-tests/teststep.mdx
Labels: enhancement, subsystem/tests

#1077 Adding test coverage for changes to ignore data sources in imported state
  .changelog/1077.txt
  helper/resource/testing_new_import_state.go
  helper/resource/teststep_providers_test.go
Labels: bug, subsystem/tests
